.item{
    width: 950px;
    height: 760px;
    background-color: #c8ecfc;
}
.item1{
    width: 850px;
    height: 80px;
    background-color: #08bcb4;
    margin-top: 40px;
}
.item2{
    width: 850px;
    height: 430px;
    margin-top: 40px;
}
.item3{
    width: 250px;
    height: 430px;
    background-color: #70dc6c;
}
.item4{
    width: 560px;
    height: 430px;
    background-color: #ffb44c;
    text-align: center;
}
.item41{
    width: 560px;
    height: 200px;
    display: flex;
    flex-direction: row;
}
.item42{
    width: 560px;
    height: 30px;
}
.item5{
    display: flex;
    width: 150px;
    height: 150px;
    background-color: #ffd44c;
    margin-left: 26px;
    margin-top: 25px;
}
.flex-container-colum{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.flex-container-row{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.flex-container-row1{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    gap: 26px;
}
.text{
    display: flex;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    font-size: 30px;
    justify-content: center;
    align-items: center;
}